<h1>hello world from hello!</h1>

<% 1+1 %>
<%= 5+5 %><br  />

<% target = "world" %>
<%= "Hello #{target}" %>

<br />
<!-- # 3.times do |n| %> -->
<% @array.each() do |n| %>
  <%= n %><br />
<% end %>

<!-- note if we wanted to go to another controller we would put in :controller => 'controllerName' -->
<%= link_to('Index page', {:action => 'index'}) %><br />

ID: <%= @id %><br />
ID: <%= params[:id] %><br />
Page: <%= @page %><br />
Next page: <%= @page.to_i + 1 %>

