 <h1>hello world from index</h1>

<a href="/demo/hello">Hello page 1</a><br />
<!-- don't need the controller part, bc we are in the controller we want already -->
<%= link_to('Hello page 2', {:action => 'hello'}) %><br />

<%= link_to('Hello page with parameters', {:action => 'hello', :page => 5, :id => 20}) %><br />

 <%= link_to('Roar','#', :onclick => "jsRoar('JavaScript'); return true;") %>
