<% @page_title = "Admin Menu" %>

<div class="menu">
  <h2>Admin Menu</h2>
  <div class = "identity">Logged in as:</div>
  <ul>
    <li><%= link_to("Manage Subjects",subjects_path) %></li>
    <li><%= link_to("Manage Pages",pages_path) %></li>
    <li><%= link_to("Manage Sections",sections_path) %></li>
    <li><%= link_to("Manage Admin Users",'#') %></li>
    <!-- note the path helper doesnt work here....   access_logout_path -->
    <li><%= link_to("Logout", access_logout_path) %></li>
  </ul>
</div>