<%= link_to("<< Back to List", sections_path, :class => 'back_link') %>

<div class="section delete">
  <h2>Delete Section</h2>

  <!-- you MUST have :method, but URL can be omitted -->
  <%= form_for(@section, :method => 'delete') do |f| %>
      <p> Are you sure you want to permanently delete this section?</p>
      <p class="reference-name"><%= f.object.name %></p>

      <div class="form-buttons">
        <%= f.submit("Delete Section") %>
      </div>
  <% end %>
</div>
