<%= link_to("<< Back to List", sections_path, :class => 'back_link') %>

<div class="sections new">
  <h2>Update Sections</h2>

  <%= form_for(@section) do  |f| %>

      <!-- start of partial 'form' -->
      <%= render(:partial => 'form', :locals => {:f => f}) %>
      <!-- end of partial 'form' -->

      <div class="form_buttons">
        <%= f.submit("Update Section") %>
      </div>
  <% end %>
</div>

