<% @page_title = "All Sections" %>
<div class="sections index">
  <h2>Sections</h2>
  <!-- could just use subjects/new but url helper is better -->
  <%= link_to("Add New Section", new_section_path, :class => 'action new') %>

  <table class="listing" summary="Section list">
    <tr class="header">
      <th>#</th>
      <th>Page ID</th>
      <th>Section</th>
      <th>Visible</th>
      <th>Actions</th>
    </tr>
    <% @sections.each do |section| %>
        <tr>
          <td><%= section.position %></td>
          <td><%= section.page_id %></td>
          <td><%= section.name %></td>
          <!-- ternary opeator, short hand for if else statement. -->
          <td class="center"><%= section.visible ? 'Yes' : 'No' %></td>
          <td class="actions">
            <!-- using resourceful url helpers subject_path(subject)-->
            <%= link_to("Show", section_path(section), :class => 'action show') %>
            <%= link_to("Edit", edit_section_path(section), :class => 'action edit') %>
            <%= link_to("Delete", delete_section_path(section), :class => 'action delete') %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
