<%= link_to("<< Back to List", sections_path, :class => 'back_link') %>

<div class="sections new">
  <h2>Create Sections</h2>

  <%= form_for(@section) do  |f| %>

      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form_buttons">
        <%= f.submit("Create Section") %>
      </div>
  <% end %>
</div>

