<%= error_messages_for(f.object) %>  <!-- Using application helper here, renders in helper -->

<table summary = "Page from fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Subject</th>
    <td><%= f.select(:subject_id, @subjects.map {|s| [s.name, s.id]}) %></td>
  </tr>
  <tr>
    <th>Permalink</th>
    <td><%= f.text_field(:permalink) %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= f.select(:position, 1..@page_count) %></td>
  </tr>
<tr>
  <th>Visible</th>
  <td><%= f.check_box(:visible) %></td>
</tr>
</table>