<%= link_to("<< Back to List", pages_path, :class => 'back_link') %>

<div class="page delete">
  <h2>Delete Page</h2>

  <!-- you MUST have :method, but URL can be omitted -->
  <%= form_for(@page, :method => 'delete') do |f| %>
      <p> Are you sure you want to permanently delete this subject?</p>
      <p class="reference-name"><%= f.object.name %></p>

      <div class="form-buttons">
        <%= f.submit("Delete Page") %>
      </div>
  <% end %>
</div>