<%= link_to("<< Back to List", subjects_path, :class => 'back_link') %>

<div class="pages edit">
  <h2>Update Pages</h2>

  <!-- form_for(@subject, :url => subject_path(@subject), :method => 'patch') do |f|
  could do it like this. but better to use helpers.
  -->
  <%= form_for(@page) do  |f| %>

      <!-- inserting partial for this loop -->
      <%= render(:partial => 'form', :locals => {:f => f}) %>
      <!-- end of partial -->

      <div class="form_buttons">
        <%= f.submit("Update Page") %>
      </div>
  <% end %>
</div>
