<%= link_to("<< Back to List", pages_path, :class => 'back_link') %>

<div class="pages new">
  <h2>Create Pages</h2>
  <%= form_for(@page) do  |f| %>

      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form_buttons">
        <%= f.submit("Create Page") %>
      </div>
  <% end %>
</div>
