<%= link_to("<< Back to List", subjects_path, :class => 'back_link') %>

<div class="subject delete">
  <h2>Delete subject</h2>

  <!-- you MUST have :method, but URL can be omitted -->
  <%= form_for(@subject, :method => 'delete') do |f| %>
  <p> Are you sure you want to permanently delete this subject?</p>
  <p class="reference-name"><%= f.object.name %></p>

  <div class="form-buttons">
    <%= f.submit("Delete Subject") %>
  </div>
  <% end %>
</div>