<%= link_to("<< Back to List", subjects_path, :class => 'back_link') %>

<div class="subjects edit">
  <h2>Update Subjects</h2>

  <!-- form_for(@subject, :url => subject_path(@subject), :method => 'patch') do |f|
  could do it like this. but better to use helpers.
  -->
  <%= form_for(@subject) do  |f| %>

      <!-- render the _form partial -->
      <%= render(:partial => 'form', :locals => {:f => f}) %>

      <div class="form_buttons">
        <%= f.submit("Update Subject") %>
      </div>
  <% end %>
</div>
