<%= link_to("<< Back to List", subjects_path, :class => 'back_link') %>

<div class="subjects new">
  <h2>Create Subjects</h2>

  <%= form_for(@subject) do  |f| %>
      <!-- don't need the _  needs the f variable so must pass it to the partial (f) -->
  <%= render(:partial => 'form', :locals => {:f => f}) %>

  <div class="form_buttons">
    <%= f.submit("Create Subject") %>
  </div>
  <% end %>
</div>
