<% @page_title = "All Admin Users" %>


<div class="admin_users index">
  <h2>Admin Users</h2>
  <!-- could just use subjects/new but url helper is better -->
  <%= link_to("Add New Admin User", new_admin_user_path, :class => 'action new') %>

  <table class="listing" summary="Page list">
    <tr class="header">
      <th>#</th>
      <th>Subject ID</th>
      <th>Page</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Sections</th>
      <th>Actions</th>
    </tr>
    <% @pages.each do |page| %>
        <tr>
          <td><%= page.position %></td>
          <td><%= page.subject_id %></td>
          <td><%= page.name %></td>
          <td><%= page.permalink %></td>
          <!-- ternary opeator, short hand for if else statement. -->
          <td class="center"><%= page.visible ? 'Yes' : 'No' %></td>

          <td class="actions">
            <!-- using resourceful url helpers subject_path(subject)-->
            <%= link_to("Show", page_path(page), :class => 'action show') %>
            <%= link_to("Edit", edit_page_path(page), :class => 'action edit') %>
            <%= link_to("Delete", delete_page_path(page), :class => 'action delete') %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
