<% @page_title = @page.name %>
<h2><%= @page.name %></h2>

<% @page.sections.visible.sorted.each do |section| %>
  <div class="section">
    <% case section.content_type %>
    <% when 'HTML' %>
        <!-- it's going to escape and make content safe except for the following -->
        <!-- raw forces the tags to NOT escape those tags -->
      <%= raw(sanitize(section.content, :tags => ['strong','em','a'])) %>
    <% when 'text' %>
      <%= simple_format(section.content) %> <!-- note this will generate p tags and turn \n into </br> -->
    <% end %>
  </div>
<% end %>
