<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS: <%= @page_title || "Admin Area" %></title>
    <!-- <style> -->
    <%= stylesheet_link_tag('admin', :media => 'all') %>
    <!-- </style> -->
  </head>
  <body>

    <div id="header">
      <h1>Simple CMS Admin</h1>
    </div>
    <div id = "main">
      <% if !flash[:notice].blank? %>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
      <% end %>

      <div id="content">
        <!-- before yield -->
        <%= yield %>
        <!-- after yield -->
      </div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; lynda.com</p>
    </div>

  </body>
</html>