<!DOCTYPE html>
<html>
  <head>
    <title>SimpleCms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    ('application') %>
    <%= javascript_include_tag ('application') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
