<!DOCTYPE html>
<html>
<head>
  <title>Simple CMS<%= " | #{@page_title}" if @page_title %></title>
  <!-- <style> -->
  <%= stylesheet_link_tag('application.css', :media => 'all') %>
  <!-- </style> -->
</head>
<body>

<div id="header">
  <h1>Simple CMS</h1>
</div>
<div id = "main">

  <div id="content">
    <!-- before yield -->
    <%= yield %>
    <!-- after yield -->
  </div>

  <div class="clear"></div>

</div>
<div id="footer">
  <p id="copyright">&copy; lynda.com</p>
</div>

</body>
</html>